/* You can add global styles to this file, and also import other style files */

body {
  background-color: #1f1e33;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  margin: 0;
  box-sizing: border-box;
}
